.uploadInput {
  display: none; /* Hide the default input */
}

.uploadButton {
  display: flex; /* Use Flexbox to center the text */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Make it circular */
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 10px;
  padding: 0.4em;
  transition: background-color 0.2s ease;
}

.uploadButton:hover {
  background-color: var(--secondary-color);
}
